###########################################################################
# VIRTUAL ENVIRONMENTS AND PYTHON CACHE / ENTORNOS VIRTUALES Y PYTHON CACHE
###########################################################################

venv/
.venv/
.env/
.envrc
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/


###################################################
# DATASETS AND RAW DATA / DATASETS Y DATOS CRUDOS
###################################################


data/
datasets/
raw_data/
*.csv
*.tsv
*.parquet
*.xlsx


###############################################################
# AI MODELS AND LARGE FILES  / MODELOS DE IA Y ARCHIVOS PESADOS 
###############################################################


models/
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.pth



#######################################################
# LOGS, REPORTS AND OUTPUTS / LOGS, REPORTES Y SALIDAS
#######################################################


logs/
reports/
output/
results/
*.log


#####################################################
# CYBERSECURITY / CIBERSEGURIDAD / HACKING TOOLS
#####################################################


nmap_results/
pcap/
*.pcap
*.cap
loot/
wordlists/
kali-tools/


######################################################
# OS AND EDITORS / S0 y EDITORES
######################################################

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
.spyderproject
.spyproject


#######################################################
# TEMPORARY FILES / ARCHIVOS TEMPORALES
#######################################################


*.tmp
*.bak
*.swp
*.swo


#######################################################
# NODE / FRONTEND
#######################################################


node_modules/
dist/
build/


########################################################
# CLEAN JUPYTER OUTPUT / JUPYTER OUTPUT EN LIMPIO
########################################################


*nb.convert.ipynb


